<%= form_tag(polymorphic_path(schema.model), method: 'get', class: 'schema-options', style: "margin-bottom: 10px") do |f| %>
  <%= render 'azahara_schema/filters', schema: schema %>
  <div class="form-actions">
    <%= submit_tag t(:label_use_setting), class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
  $('#filters').filters()
</script>
