<% if local_assigns.fetch(:filters, true) %>
  <%= render 'azahara_schema/index_form', schema: schema %>
<% end %>
<% schema.outputs.each do |output| %>
  <%= render output, schema: schema %>
<% end %>
<div class="exports text-right">
  <% if (csv_path = azahara_export_path(schema, :csv)) %>
    <%= link_to csv_path do %>
      <i class="fa fa-file-o"></i>
      <%= t('label_export_as', as: 'CSV') %>
    <% end %>
  <% end %>
</div>
